<h1>Welcome to the Childcare Calendar!</h1>

<h2>Parents/Gaurdians</h2>
<p>Sign Up or Log In here:</p>
<h3><%=link_to "Log In", '/users_login' %></h3>
<h3><%=link_to "Sign Up", '/users/new' %></h3>


<h2>Caregivers</h2>
<p>Sign Up or Log In here:</p>
<h3><%=link_to "Log In", '/sitters_login' %></h3>
<h3><%=link_to "Sign Up", '/sitters/new' %></h3>